<div class="m-5 flex flex-col gap-5 justify-center items-center">
  <h1 class="text-3xl font-bold">Employee Management Software</h1>

  <!-- Add employee component -->
  <app-add-employee></app-add-employee>
  <div class="flex flex-col gap-3 py-5 items-center justify-center">
    <!-- <div
      class="flex flex-row gap-14 border-b py-5 items-center justify-center w-full"
    >
      <span>No.</span>
      <span>First Name</span>
      <span>Last Name </span>
      <span>Email</span>
      <span>Date</span>
      <span>Actions</span>
    </div> -->
    <!-- Employee list with each employee item -->
    <app-employee-list></app-employee-list>

    <!-- <div
      class="flex flex-row gap-14 border-b py-5 items-center justify-center w-full"
    >
      <span>1</span>
      <span>Susan</span>
      <span>Jordan</span>
      <span>susan&#64;example.com</span>
      <span>$95,000</span>
      <span>2019-04-11</span>

      <div class="flex flex-row gap-5">
        <button class="border px-2">Edit</button>
        <button class="border">Delete</button>
      </div>
    </div> -->
  </div>
</div>
